@import 'materialize';

$dark: #444;
$light: #fff;
$color: #FF4081;
$icon-size: 64px;
$code-gray: #ccc;

nav a:hover{
	color: rgba($light, .8);
}

.top {
	background: $dark;
	color: $light;
	text-align: center;
	min-height: 40vh;
	position: relative;

	.align {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.row {
	margin-bottom: 0px;
}

.links {
	.link {
		text-align: center;
		min-height: 40vh;
		position: relative;

		.align {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.mega-octicon {
				font-size: $icon-size;
			}

			.doge {
				max-width: $icon-size+30;
			}
		}
	}
}

.indigo, .pink {
	color: $light;
	
	a {
		color: rgba($light, .7);

		&:hover {
			color: rgba($light, .85);
		}
	}
}

.code{
	font-family: monospace;
	color: $dark;
	background: $code-gray;
	padding: 2px 4px;
	border-radius: 2px;
}

.pink, .indigo, .contrib {
	padding: 7% 10%;
}

.doge {
	margin: 0 auto;
	max-width: 30%;
}
